@use 'base/variables' as v;
@use 'base/mixins' as m;
.testimoniales {
    &__titulo {
        margin-bottom: 1rem;
        text-align: center;
    }
    &__grid {
        @include m.telefono {
            @include m.grid(2, 1rem);
        }
        @include m.tablet {
            @include m.grid(3, 1rem);
        }
    }
}

.testimonial {
    border-radius: 1rem 2rem;
    padding: 0 2rem;
    background-color: v.$terciario;
    margin-bottom: 1.3rem;
    h4,
    p {
        margin: 0;
    }
    &__contenido {
        padding: 1rem 0;
        p {
            text-align: justify;
        }
    }
}