@use 'base/variables' as v;
@use 'base/mixins' as m;
.tramitar {
    margin: 2rem auto;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    padding: 3rem;
    background-image: linear-gradient(to bottom, v.$terciario 0%, v.$terciario 50%, transparent 51%, transparent 100%), url(../img/Corte1.jpg);
    background-size: 100%, 60rem;
    background-repeat: no-repeat;
    background-position: center, center bottom;
    @include m.tablet {
        margin: 3rem auto;
        row-gap: 0;
        padding: 5rem;
        grid-template-rows: unset;
        grid-template-columns: repeat(2, 1fr);
        background-image: linear-gradient(to right, v.$terciario 0%, v.$terciario 50%, transparent 51%, transparent 100%), url(../img/Manicure2.jpg);
        background-size: 100%, 75rem;
        background-position: center, right center;
    }
    &__contenido {
        padding: 1rem 2rem;
    }
    &__titulo {
        text-align: center;
        @include m.tablet {
            text-align: left;
        }
    }
    p {
        text-align: justify;
    }
    &__botones {
        display: grid;
        place-items: center;
    }
    &__btn {
        @include m.boton(darken(v.$primario, $amount: 90), v.$blanco);
    }
}