@use '../base/variables' as v;
@use '../base/mixins' as m;
.seccion {
    padding: 2rem 0;
    display: none;
    h2 {
        text-align: center;
    }
}

.mostrar {
    display: block;
}

.ocultar {
    display: none;
}

.ocultar_btn {
    visibility: hidden;
}

.tabs {
    button {
        background-color: v.$primario;
        border: none;
        color: v.$blanco;
        padding: 1rem;
        width: 100%;
        margin-bottom: 1rem;
        font-weight: bold;
        transition: all .3s ease-in;
        border-radius: 1rem;
        &:hover {
            cursor: pointer;
            background-color: darken($color: v.$primario, $amount: 30)
        }
        &.actual {
            background-color: v.$secundario;
            color: v.$negro;
        }
    }
    @include m.tablet {
        @include m.grid(3, 1rem);
        margin-bottom: 0;
    }
}

.text-center {
    text-align: center;
}

.paginacion {
    padding: 1rem 0;
    @include m.telefono {
        display: flex;
        justify-content: space-between;
    }
    button {
        margin: 1rem 0;
    }
}