@use 'variables' as v;
html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: v.$fuentePrincipal;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    &.fijarbody {
        overflow: hidden;
    }
}

main {
    flex: 1;
}

// Contenedores
.contenedor {
    width: 95%;
    max-width: 1000px;
    margin: 0 auto;
}

.contenedorMediano {
    width: 95%;
    max-width: 60rem;
    margin: 0 auto;
}

.centrar_campos {
    display: grid;
    place-items: center;
}

.space_between {
    display: flex;
    justify-content: space-between;
}

.dos_columnas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

[class$="contenedor"] {
    width: 95%;
    max-width: 1000px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    display: block;
}

ul {
    padding: 0;
    list-style: none;
    margin: 0;
}