@use 'base/variables' as v;
@use 'base/mixins' as m;
h1,
h2,
h3 {
    margin: 0;
    line-height: 1.2;
}

h1 {
    font-size: 3.5rem;
    font-family: v.$fuenteHeading;
    @include m.tablet {
        font-size: 4rem;
    }
}

h2 {
    font-size: 2.9rem;
    font-family: v.$fuenteHeading;
    @include m.tablet {
        font-size: 3.1rem;
    }
}

h3 {
    font-size: 2.5rem;
    @include m.tablet {
        font-size: 2.9rem;
    }
}

[class$="heading"] {
    margin: 2rem 0;
}

a {
    text-decoration: none;
    color: v.$negro;
}

p {
    color: v.$negro;
    font-size: 1.6rem;
    line-height: 1.8;
}