@use '../base/variables' as v;
@use '../base/mixins' as m;
.alerta {
    padding: .8rem;
    text-align: center;
    border-radius: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
    margin-bottom: 1rem;
    p {
        margin: 0;
    }
    &.error {
        background-color: rgb(177, 10, 10);
    }
    &.exito {
        background-color: rgb(13, 224, 24);
        margin-top: 2rem;
    }
}

.w-100 {
    width: 100%;
}