@use 'base/variables' as v;
@use 'base/mixins' as m;
.menuAdmin {
    &__titulo {
        text-align: center;
        margin: 3rem 0;
        color: v.$primario;
    }
    &__grid {
        @include m.tablet {
            @include m.grid(3, 2rem);
        }
    }
}

.submenu {
    display: grid;
    place-items: center;
    padding: 3rem 2rem;
    a {
        font-weight: bold;
    }
    i {
        display: inline-block;
        font-size: 3.5rem;
        margin-bottom: 1rem;
    }
    &:nth-of-type(1) {
        background-color: #ff6961;
    }
    &:nth-of-type(2) {
        background-color: #77dd77;
    }
    &:nth-of-type(3) {
        background-color: #fcb7af;
    }
    &:nth-of-type(4) {
        background-color: #84b6f4;
    }
    &:nth-of-type(5) {
        background-color: #fdcae1;
    }
    &:nth-of-type(6) {
        background-color: #fdfd96;
    }
    &:hover {
        cursor: pointer;
    }
}