@use '../base/variables' as v;
@use '../base/mixins' as m;
.lista {
    width: 100%;
    margin-top: 2rem;
    border-spacing: 0;
    thead {
        background-color: v.$primario;
    }
    th {
        color: v.$blanco;
        padding: 1rem 0;
    }
    img {
        margin: 0 auto;
        width: 15rem;
    }
    a {
        margin: 0;
        display: block;
    }
    td {
        text-align: center;
        padding: 1rem;
        margin-bottom: 1rem;
        color: v.$negro;
    }
}